wp-config.php
.htaccess
.vscode
wp-content/uploads/
gestiomysql
health.aws
wp-content/wflogs/
.user.ini
wordfence-waf.php
wp-content/plugins/wordfence/
wp-content/plugins/wp-mail-smtp/
test/
css/
img/
wp-settings.php


#ignore log files and databases
*.log
*.sql
*.sqlite
