wp-config.php
.htaccess
.vscode

gestiomysql
health.aws
wp-content/wflogs/
.user.ini
wordfence-waf.php
wp-content/plugins/wordfence/
wp-content/plugins/wp-mail-smtp/
test/
css/
img/
wp-settings.php
.well-known/

#ignore log files and databases
*.log
*.sql
*.sqlite
